opencv-python<4.10
# PyQt5 (Da cai bang Conda)
numpy<1.25.0
scipy<1.11.0
# YOLOv5 (Can cai PyTorch rieng truoc)
# Cach cai dat: pip install torch torchvision torchaudio (theo JetPack version)
# Sau do: pip install -r requirements.txt
torch>=1.7.0
torchvision>=0.8.1
PyYAML>=5.3.1
tqdm>=4.64.0
matplotlib>=3.2.2
seaborn>=0.11.0
pandas>=1.1.4
pillow>=7.1.2
# YOLOv5 se duoc import truc tiep tu GitHub hoac local repo
